<div class="panel panel-default" *ngIf="contact?.name">
  <div class="panel-heading contact-detail">
    <h2>{{ contact?.name }}</h2>
    <div class="img-buttons">
      <div>
        <img
          src="{{ contact?.imageUrl }}"
          alt="An actual img here"
          class="img-responsive"
        />
      </div>
      <div>
        <button
          class="btn btn-primary"
          style="margin-right: 5px"
          [routerLink]="['/contacts', contact?.id, 'edit']"
        >
          Edit
        </button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p><strong>Email:</strong> {{ contact?.email }}</p>
    <p><strong>Phone:</strong> {{ contact?.phone }}</p>
    <div *ngFor="let contact of contact?.group; let i = index">
      <div>
        <cms-contact-item
          class="col-sm-11"
          [contact]="contact"
        ></cms-contact-item>
      </div>
    </div>
  </div>
</div>
