<div class="panel panel-default contact-detail">
  <div class="panel-heading">
    <h2>Contact name here</h2>
    <div class="clearfix">
      <div class="pull-left">
        <img src="" alt="An actual img here" class="img-responsive" />
      </div>
      <div class="pull-right">
        <button class="btn btn-primary" style="margin-right: 5px">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p><strong>Email:</strong> email.here@example.com</p>
    <p><strong>Phone:</strong> 123-123-1234</p>
  </div>
</div>
