<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Contacts</h2>
    <div class="input-n-button">
      <div class="input-group">
        <!-- Search input -->
        <input
          type="text"
          class="form-control"
          placeholder="Enter a search value"
          #searchBox
          (keyup)="search(searchBox.value)"
        />
        <div
          class="glyphicon glyphicon-search input-group-addon"
          (click)="search(searchBox.value)"
        ></div>
      </div>
      <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
    </div>
  </div>
  <div class="panel-body">
    <!-- Detect on click -->
    <cms-contact-item
      dnd-draggable
      [dragEnabled]="true"
      [dragData]="contact"
      [dropZones]="['contactGroup']"
      *ngFor="let contact of contacts | contactsFilter : term"
      [contact]="contact"
    ></cms-contact-item>
  </div>
</div>
