/* Global styles */
@import "sass/globals/mixins";

/* PANEL HEADING */
.panel-heading:not(.contact-detail),
.contact-detail .img-buttons {
  @include flex-between;
  h2 {
    margin: 0;
  }
}

a {
  cursor: pointer;
}

.btn {
  margin: 0 0.3rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}
